<main>
  <h1>Hello from Angular App with Webpack</h1>

  <img src="../assets/images/angular.png">
       
   <nav>
     <a routerLink="/app"> Main window </a>
     <a routerLink="/not"> Hit this when page is not found. </a>
     <a routerLink="/exp"> Input component gain string from child component. </a>
     <a routerLink="/inj"> Simple example of DI and getting variable. </a>
     <a routerLink="/her"> Tutorial </a>
     <a routerLink="/ott"> Example of DI with table. </a>
     <a routerLink="/hades"> Main component with children (Hades + (Artois, Hedges, Toke)) </a>
   </nav>
    <router-outlet></router-outlet>
</main>
