<main>
  <h1>Hello from Angular App with Webpack</h1>
       
   <nav>
     <a routerLink="/app"> App </a>
     <a routerLink="/not"> Not </a>
     <a routerLink="/exp"> Exp </a>
   </nav>
    <router-outlet></router-outlet>
</main>
